*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #CBCE91FF, #EA738DFF);
  }

  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;

    /* Banyaknya kolom (columns) dalam grid */
    grid-template-columns: repeat(4, 90px);
    /* grid-template-columns: 120px 120px 120px 120px; */

    /* Banyaknya (rows) dalam grid */
    grid-template-rows: minmax(120px, auto) repeat(5, 90px);

    /* Menambahkan grid gap untuk memberi jarak antar grid cell */
    grid-gap: 6px;
  }

    .calculator-grid > button {
      cursor: pointer;
      font-size: 2rem;
      /* margin-top: 10px; */
      outline: none;
      background-color: rbga(255, 255, 255, 0.75);
    }

      .calculator-grid > button:hover {
        /* background-color: #a9a9a9; */
      box-shadow: inset -3px -3px 7px #00bfa6, 
      inset 3px 3px 5px #a9a9a9;
      }

      .calculator-grid #ac {
        grid-row: span 2;
        color: #000000;
        background-color: rgb(253, 151, 18);
        /* height: 80px;
        width: 180px; */
        /* border-corner-shape: scop; */
        border-radius: 20px;
        /* width: 400px; */
      }

      .calculator-grid #operator {
        color: #000000;
        background-color: rgb(253, 151, 18);
        /* height: 80px;
        width: 80px; */
        border-radius: 20px;
      }

      #angka {
        color: #000000;
        background-color: rgb(255, 255, 255);
        /* height: 80px;
        width: 80px; */
        border-radius: 20px;
      }


      /* .output{
        /* grid-column: 1 / -1;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;
        height: 200px;
        word-wrap: break-word;
        word-break: break-all;
        border-radius: 30px;
      }  */

      .output{
        grid-column: 1 / -1;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
        padding: 15px;
        word-wrap: break-word;
        word-break: break-all;
        border-radius: 20px;
        
      }

      .output .previous-operand{
        color: rgba(3, 0, 0, 0.75);
        font-size: 1.5rem;
      }

      .output .current-operand{
        color: rgb(0, 0, 0, 1);
        font-size: 2.5rem;
      }
